Sales Team(Admin) Login 

-> RetrieveAdminLocation
Admin will be able to retrieve the location/countries from where they are logged in from.

-> RetrieveTimezone
Admin will be able to retrieve the country's timezone based on their login location.

-> RetrieveCurrency
Admin will be able to retrieve the country's currency based on their login location.

-> RetrieveAdminLogin
Admin will be able to retrieve their loginID(which is also their NRIC/FIN) and their password.

-> AdminPasswordChange
Admin will be able to change their password after verifying themselves via email and LoginID(NRIC/FIN) verification.