<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidshop"
    android:versionCode="100"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.droidshop.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.droidshop.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.droidshop.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name="com.droidshop.BootstrapApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bootstrap.Dark" >
        <activity
            android:name="com.droidshop.ui.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.droidshop.authenticator.AccountAuthenticatorService"
            android:exported="false"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name="com.droidshop.authenticator.BootstrapAuthenticatorActivity"
            android:excludeFromRecents="true" >

            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>
        <activity
            android:name="com.droidshop.ui.user.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.droidshop.authenticator.BootstrapAuthenticatorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.droidshop.authenticator.BootstrapAuthenticatorActivity" />
        </activity>
        <activity
            android:name="com.droidshop.ui.user.UserProfileActivity"
            android:label="@string/profile"
            android:parentActivityName="com.droidshop.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.droidshop.ui.CarouselActivity" />
        </activity>
        <activity
            android:name="com.droidshop.ui.order.OrderActivity"
            android:label="@string/my_order"
            android:parentActivityName="com.droidshop.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.droidshop.ui.CarouselActivity" />
        </activity>
        <activity
            android:name="com.droidshop.ui.reservation.ReservationActivity"
            android:label="@string/reservations"
            android:parentActivityName="com.droidshop.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.droidshop.ui.CarouselActivity" />
        </activity>
        <activity
            android:name="com.droidshop.ui.product.ProductListActivity"
            android:parentActivityName="com.droidshop.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.droidshop.ui.CarouselActivity" />
        </activity>
        <activity
            android:name="com.droidshop.ui.product.ProductDescriptionActivity"
            android:parentActivityName="com.droidshop.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.droidshop.ui.CarouselActivity" />
        </activity>
        <activity
            android:name="com.droidshop.ui.product.ProductListFragment"
            android:parentActivityName="com.droidshop.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.droidshop.ui.CarouselActivity" />
        </activity>
        <activity
            android:name="com.droidshop.ui.product.ProductDescriptionFragment"
            android:parentActivityName="com.droidshop.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.droidshop.ui.CarouselActivity" />
        </activity>
    </application>

</manifest>